$card-width: 24%;
$title-text: #FBDFAA;

.card-wrapper{
  width: $card-width;
  background-color: green;
  display: flex;
  position: relative;
  margin-bottom: 2vh;
  border: $input-border;

  .splash-img {
    width: 100%;
    display: block;
    position: relative;
    object-fit: contain;
    top: 0;
    left: 0;
    z-index: 0;
  }

  // Rules below this in the wrapper should all be positioned on top of the splash
  .mastery-img {
    width: 30%;
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 1;
  }

  .mastery-stats{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 22.5%;
    background-color: #000;
    // opacity: 80% !important;
    text-align: center;
    border-top: $input-border;
    font-size: 120%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    z-index: 1;

    h2{
      color: $title-text;
    }

    h3{
      color: $title-text;
      padding-left: 8px;
      font-size: 75%;
      margin-bottom: 12.5%;
    }

    .mastery-progress{
      height: 25px;
      width: 100%;
      border-top: $input-border;

      position: absolute;
      bottom: 0;

      display: flex;
      flex-direction: row;

      h3{
        color: #FFF;
        opacity: 100%;
      }
    }
  }
}

// Basic responsive design
@media (max-width: 1130px){
  .mastery-stats{
    font-size: 80%;
  }
}

@media (max-width: 950px){
  .card-wrapper{
    width: 48%;
  }
}