$card-width: 22.5%;

.card-wrapper{
    //width: 308px;
    //height: 560px;
    //height: $card-width*1.81;
    background-color: green;
    display: flex;

    .card-img {
        width: 100%;
        //width: auto;
    }
}