// RECYCLABLE VARS
$input-bg: #0B122F;
$input-border: 1px #EDBB6E solid;
$input-height: 100%;
$input-padding: 0 20px;
$input-text-col: #FAEEE8;

.search{
  display: inline-flex;
  margin: 0 50% 5vh 50%;
}

.search-core{
  background-color: $input-bg;
  border: $input-border;
  color: $input-text-col;
}

.search-dropdown{
  display: flex;
  padding: 12px;
  transition: 0.1s;
}

.search-input-box{
  transition: 0.1s;
  width: 60vh;
  border-width: 1px 0;
  font-size: 14pt;
  padding: 12px;
}

.search-button{
  display: flex;
  overflow: none;
  padding: 16px;
  height: $input-height;
  transition: 0.15s;
}

.search-button:hover{
  background-color: #AAA;
}

.search-button:active{
  background-color: #888;
}